.btn {
    padding: 8px 12px;
    justify-content: space-around;
    background-color: var(--background);
    border-radius: 12px;
    color: var(--pitchBlack);
    font-weight: 700;
    cursor: pointer;
    border: 1px solid silver;
}

.iconctn {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.iconctn>img {
    width: 100%;
    height: 100%;
}