.chipCtn {
    display: inline-block;
}

.iconWrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--light-silver);
    border-radius: 16px;
    opacity: 1;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 4px 8px;
    min-width: 65px;
}

.imgWrapper {
    width: 14px;
    height: 14px;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
}

.txtCtn {
    outline: none;
    transform: none;
    opacity: 1;
}

.txtCtn p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
    line-height: 16.8px;
}